<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Lista :)</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>

<body>
    <a href="{% url 'logout' %}" class="btn btn-primary">Cerrar sesión</a>
    <main class="container-fluid">
        <div class="row my-5">
            <h1 class="col text-center">Listado del <b>DIA</b></h1>
        </div>
        <div class="row justify-content-center py-5">

            <div class="col-6 row justify-content-center h-50 p-5">
                {% if update %}
                <form class="w-75" method="post" action={% url "update" %}>
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="subject" class="form-label">Objetivo</label>
                        <input type="text" value="{{ update.subject }}" class="form-control" name="subject" id="subject"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Descripción</label>
                        <textarea type="text" name="description" class="form-control" id="description">{{ update.description }}</textarea>
                    </div>
                    <input type="hidden" name="id" value="{{ update.id }}"/>
                    <button type="submit" class="btn btn-primary w-100">Update</button>
                </form>
                {% else %}
                <form class="w-75" method="post" action={% url "insert" %}>
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="subject" class="form-label">Objetivo</label>
                        <input type="text" class="form-control" name="subject" id="subject"
                            aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Descripción</label>
                        <textarea type="text" name="description" class="form-control" id="description"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Agregar</button>
                    
                </form>
                {% endif %}
            </div>

            <div class="col-5 container justify-content-center">
                {% for data in db_data %}
                <div class="row">
                    <div class="card w-75 col m-2">
                        <div class="card-body">
                            <h5 class="card-title">{{ data.subject }}</h5>
                            <p class="card-text">{{ data.description }}</p>
                            <a href={% url "update_form" data.id %} class="btn btn-primary">Update</a>
                            <a href={% url "delete" data.id %} class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </main>
</body>

</html>